<!-- <div *ngFor="let item of restData.dataFromApiAgain">
    <h2>Consultant ID: {{item.consultantId}}</h2>
    <h2>Bio: {{item.profileInfo}}</h2>
    <h2>Completed Projects: {{item.totalProjects}}</h2>
</div> -->

<div class="center-container">
    <img src="images/train1.jpg" alt="Background Image" class="background-image">

    <h2>Client Name: {{ restData.userData?.userName }}</h2>
    
    <!-- Content container -->
    <!-- <div class="consultant-grid">
        <div class="grid-row" *ngFor="let item of restData.dataFromApiAgain">
            <div class="grid-cell">
                <h2> </h2>
            </div>
            <div class="grid-cell">
            </div>
            <div class="grid-cell">
                <h2> </h2>
            </div>
        </div>
    </div> 
</div> -->
<!-- <h2>Consultant ID: {{ item.consultantId }}</h2> -->
<!-- <h2>Consultant ID: {{ item.consultantId }}</h2> -->
<!-- <h2>Completed Projects: {{ item.totalProjects }}</h2> -->
